:root {
  --color-primary-background: #0F162D;
  --color-pink: 202, 89, 255;
  --color-blue: 108, 124, 255;
  --color-aqua: 42, 255, 255;
  --color-yellow: 255, 246, 41;
  --color-secondary-background: #272D42;
  --color-light: #FFFFFF;
  --color-dark: #000000;
}
