@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";
@import "styles/__home-page.scss";

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--color-primary-background);
  color: var(--color-light);
}